<head>
  <link rel="stylesheet" href="/styles/variables.css" />
  <link rel="stylesheet" href="/styles/indexstyles.css" />
  <link rel="stylesheet" href="/styles/community.css" />
  <link rel="stylesheet" href="/styles/post.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/scripts/include.js" defer></script>
  <script src="/scripts/button.js" defer></script>
  <title></title>
</head>
<body>
  {{> layout}}

  <div class="main-content">
    <div class="community-header">
      <!-- COMMUNITY BANNER-->
      <div class="community-metadata">
        <div class="community-description">
          {{community.description}}
        </div>
        <div class="community-stat">
          <div class="stat">
            <p class="stat-value">{{community.members}}</p>
            <p class="stat-name">Members</p>
          </div>
          <div class="stat">
            <p class="stat-value">{{community.onlineMembers}}</p>
            <p class="stat-name">Online</p>
          </div>
          <div class="stat">
            <p class="stat-value">{{community.dateCreated}}</p>
            <p class="stat-name">Created</p>
          </div>
        </div>
        <button class="follow-com-button">Follow</button>
      </div>
      <!-- COMMUNITY BANNER-->
      <div class="communityBanner">
        <img src="{{community.bannerPfp}}" class="communityBannerImage" />
        <div class="communityBannerText">
          <div class="communityTitle">w/{{community.name}}</div>
        </div>
        <img
          src="{{community.communityPfp}}"
          class="communityHeaderImage"
        />
      </div>
    </div>

    <div class="posts-container">
      {{#each posts}}
        {{> posts}}
      {{/each}}
    </div>
  </div>
</body>