<head>
  <link rel="stylesheet" href="/weebsite/styles/variables.css" />
  <link rel="stylesheet" href="/weebsite/styles/indexstyles.css" />
  <link rel="stylesheet" href="/weebsite/styles/community.css" />
  <link rel="stylesheet" href="/weebsite/styles/post.css" />

  <script src="/weebsite/scripts/include.js" defer></script>
  <script src="/weebsite/scripts/button.js" defer></script>
  <title></title>
</head>
<body>
  <div id="layout-container"></div>

  <div class="main-content">
    <div class="community-header">
      <!-- COMMUNITY BANNER-->
      <div class="community-metadata">
        <div class="community-description">
          {{community.description}}
        </div>
        <div class="community-stat">
          <div class="stat">
            <p class="stat-value">{{community.members}}</p>
            <p class="stat-name">Members</p>
          </div>
          <div class="stat">
            <p class="stat-value">{{community.onlineMembers}}</p>
            <p class="stat-name">Online</p>
          </div>
          <div class="stat">
            <p class="stat-value">{{community.dateCreated}}</p>
            <p class="stat-name">Created</p>
          </div>
        </div>
        <button class="follow-com-button">Follow</button>
      </div>
      <!-- COMMUNITY BANNER-->
      <div class="communityBanner">
        <img src="{{community.bannerPfp}}" class="communityBannerImage" />
        <div class="communityBannerText">
          <div class="communityTitle">w/{{community.name}}</div>
        </div>
        <img
          src="{{community.communityPfp}}"
          class="communityHeaderImage"
        />
      </div>
    </div>

    <div class="posts-container">
      {{#each posts}}
      <div class="post">
        <div class="postContent">
          <h2 class="postTitle" onclick="switchPage('post/{{this._id}}')">{{this.title}}</h2>
          <p>{{this.content}}</p>
          <span>Posted by u/{{this.author}}</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>